<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <h1>Rezultatiii :)</h1>

    <%var number_of_panels=(iData.Average_monthly_consumption*12)/(0.18*iData.Irradiation)%>
        <% number_of_panels=number_of_panels/1.7 %>
            <% number_of_panels450=number_of_panels*1.7/2.09%>
                <% number_of_panels550=number_of_panels*1.7/2.56%>
                    <% number_of_panels=Math.round(number_of_panels)%>
                        <% number_of_panels450=Math.round(number_of_panels450)%>
                            <% number_of_panels550=Math.round(number_of_panels550)%>


                                <table>
                                    <tr>
                                        <td>350 W</td>
                                        <td>
                                            <output id="Out">
                                                <%=number_of_panels%>
                                            </output>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>450 W</td>
                                        <td>
                                            <output id="Out2">
                                                <%=number_of_panels450%>
                                            </output>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>550 W</td>
                                        <td>
                                            <output id="Out2">
                                                <%=number_of_panels550%>
                                            </output>
                                        </td>
                                    </tr>
                                </table>


                                <%=console.log(iData) %>

                                    <label for=" Out">Required number of panels: </label>

                                    <output id="Out">
                                        <%=number_of_panels%>
                                    </output>

</body>

</html>