<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>New investor project</title>
    <base href="/">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="resultsInv.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Solar project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Back</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-shrink-0">
        <div class="container">
            <br>
            <br>
            <h1 class="mt-5">Results</h1>

            <%var number_of_panels=(iData.Average_monthly_consumption*12)/(1.7*0.18*iData.Irradiation)%>
                <% number_of_panels450=number_of_panels*1.7/2.09%>
                    <% number_of_panels550=number_of_panels*1.7/2.56%>
                        <% number_of_panels=Math.round(number_of_panels)%>
                            <% number_of_panels450=Math.round(number_of_panels450)%>
                                <% number_of_panels550=Math.round(number_of_panels550)%>
                                    <p class="lead">
                                        There are different types of solar panels on the market. They vary in terms of
                                        rated power as well as their size.
                                        Here, we are showing how many of the most common types of panels you need to
                                        cover your consumption.
                                    </p>
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <th scope="col">Rated power (W)</th>
                                            <th scope="col">Size of one panel (m2)</th>
                                            <th scope="col">Number of panels required</th>
                                            <th scope="col">Price range of one panel($)</th>

                                        </thead>
                                        <tr>
                                            <td>350</td>
                                            <td>1.7</td>
                                            <td>
                                                <output id="Out">
                                                    <%=number_of_panels%>
                                                </output>
                                            </td>
                                            <td>160-185</td>
                                        </tr>
                                        <tr>
                                            <td>450</td>
                                            <td>2.09</td>
                                            <td>
                                                <output id="Out2">
                                                    <%=number_of_panels450%>
                                                </output>
                                            </td>
                                            <td>210-240</td>
                                        </tr>
                                        <tr>
                                            <td>550</td>
                                            <td>2.56</td>
                                            <td>
                                                <output id="Out2">
                                                    <%=number_of_panels550%>
                                                </output>
                                            </td>
                                            <td>260-295</td>
                                        </tr>
                                    </table>


                                    <%=console.log(iData) %>
                                        <% function rounding(v1) { %>
                                            <% return Math.round(v1/100)*100 %>
                                                <% } %>
                                                    <% var power=rounding(350*number_of_panels)/1000 %>

                                                        <p class="lead">
                                                            To clarify, you need <%= number_of_panels%> 350Wp panels
                                                                <b>or</b>
                                                                <%= number_of_panels450%> 450Wp panels <b>or</b>
                                                                    <%= number_of_panels550%> 550Wp panels.
                                                        </p>
                                                        <p class="lead">
                                                            Solar panels alone are pretty much useless
                                                            without
                                                            invertors,
                                                            which are
                                                            converting DC into AC.
                                                            Most solar systems don not regularly produce at
                                                            their
                                                            nameplate
                                                            capacity, so
                                                            the best option is choosing an inverter which
                                                            power rating
                                                            is
                                                            about 80%
                                                            of
                                                            the solar system.
                                                            Your system has power around <%=power%> kW,
                                                                so you should choose an inverter closest to
                                                                <%= parseFloat(power*0.8).toFixed(0) %>
                                                                    kW.
                                                        </p>
                                                        <p class="lead">
                                                            Prices of inveters generally have a wide range, and it
                                                            depends
                                                            of
                                                            the manufacturer and efficiency.
                                                            But roughly, we can say that average price of an inverter is
                                                            0.3 $/Wp. Also, for large systems, more than one inverter is
                                                            being used.

                                                            As for cost of installation, it is different by country
                                                            because
                                                            of
                                                            the labor cost. But in the developped country, for materials
                                                            for installation and labor
                                                            you
                                                            should invest
                                                            around
                                                            <%=rounding(1.7*number_of_panels*12 /0.0929)%>$

                                                        </p>
                                                        <p class="lead">
                                                            When all expenses are sum up, we can estimate your
                                                            investement
                                                            around:
                                                            <%=rounding(number_of_panels*173+power*1000**0.8*0.3+
                                                                1.7*number_of_panels*10 /0.0929)%> $
                                                        </p>

                                                        <div class="alert alert-warning"><strong>Note!</strong> Please
                                                            be aware that
                                                            these
                                                            calculations
                                                            are not based on fully correct model, so our estimation can
                                                            be
                                                            wrong. If
                                                            you
                                                            really want to invest, please consult an expert!
                                                        </div>
                                                        <div class="form-signin w-100 m-auto">
                                                            <form action="/investor" method="get">
                                                                <button class="w-100 btn btn-lg btn-primary"
                                                                    style="width: 5px;">Back
                                                                    to
                                                                    calculation</button>
                                                            </form>
                                                        </div>

        </div>
    </main>
    <footer>
        <nav class="navbar navbar-dark bg-dark" style="height: 25px;">
            <a class="navbar-center" style="color: rgb(236, 18, 18);">Solar project &reg; 2022</a>
        </nav>
    </footer>

</body>

</html>